# This environment variable is for development purposes only.
# If you are deploying Unified Help for production use, use the .example.prod.env file.

DATABASE_URL="" # change this to a valid Postgres database

SCRAPER_API_URL="http://localhost:4000" # point this to your scraper

BETTER_AUTH_URL="http://localhost:3000" # point this to the URL unified help is running on
BETTER_AUTH_SECRET="" # generate this with https://better-auth.com/docs/installation

HACKCLUB_CLIENT_ID="" # get these from https://auth.hackclub.com
HACKCLUB_CLIENT_SECRET=""

SLACK_APP_TOKEN="" # get these from https://api.slack.com/apps
SLACK_BOT_TOKEN=""

SENTRY_URL="" # points to a Sentry.io URL for error catching and performance logging
SENTRY_AUTH_TOKEN="" # find this in your Sentry organization settings

NEXT_PUBLIC_PLAUSBLE_TRACKING_URL="https://plausible.io/js/pa-XXXXX.js" # this URL is given when you create a website on your Plausible instance