BETTER_AUTH_URL="http://localhost:6701" # point this to the URL unified help is running on
BETTER_AUTH_SECRET="" # generate this with https://better-auth.com/docs/installation

HACKCLUB_CLIENT_ID="" # get these from https://auth.hackclub.com
HACKCLUB_CLIENT_SECRET=""

SLACK_APP_TOKEN="" # get these from https://api.slack.com/apps
SLACK_BOT_TOKEN=""

SENTRY_URL="" # points to a Sentry.io analytics URL for the bot, if you don't have one, omit this line.